<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My New Website</title>
    <link rel="stylesheet" href="/static/css/simple.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/about">About AnnoMemo</a>
      </nav>
      <h1>AnnoMemo</h1>
      <p>Intelligent OCR with Personal Knowledge Management Integration</p>
    </header>

    <main>
      <p>
        This is my new website and it's using Simple.css. It's really cool. If
        you want to use it too, you can
        <a href="https://simplecss.org">visit their site</a>.
      </p>
    </main>

    <footer>
      <p>AnnoMemo by <a href="https://jamesravey.me">James Ravenscroft</a>, Copyright 2024. All rihts reserved.</p>
    </footer>
  </body>
</html>
